<!DOCTYPE html>

<html lang="en">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="controller.js"></script>



<body ng-app="myApp">
    <div ng-controller="Democtrl">
        <div class="row" style="margin-top:50px">
            <form class="form-horizontal col-sm-5 col-sm-offset-3" name="RegisterForm">
                <div class="col-sm-12 text-center">
                    <h2> Registration form</h2>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2"> FirstName:</label>
                    <div class="col-sm-10">
                        <input type="text" name="FirstName" ng-model="employee.FirstName" class="form-control" required>
                        <span ng-show="RegisterForm.FirstName.$invalid">The name is required.</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">LastName:</label>
                    <div class="col-sm-10">
                        <input type="text" name="LastName" class="form-control" ng-model="employee.LastName" required>
                        <span ng-show="RegisterForm.LastName .$invalid">The name is required.</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">Dateofbirth:</label>
                    <div class="col-sm-10">
                        <input type="date" name="Dateofbirth" action="/action_page.php" class="form-control"
                            ng-model="employee.Dateofbirth" min="1995-01-01" max="2020-12-31" required>
                        <span ng-show="RegisterForm.Dateofbirth.$invalid">The name is required.</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">Address:</label>
                    <div class="col-sm-10">
                        <input type="text" name="Address" class="form-control" ng-model="employee.Address"
                            required>
                        <span ng-show="RegisterForm.Address.$invalid">The name is required.</span>

                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">PhoneNumber:</label>
                    <div class="col-sm-10">
                        <input type="number" name="PhoneNumber" class="form-control" ng-model="employee.PhoneNumber"  required>
                        <span ng-show="RegisterForm.PhoneNumber.$invalid">The name is required.</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">Gender:</label>
                    <div class="col-sm-10">
                       <select name="Gender" ng-model="employee.Gender" class="form-control"
                            ng-options="item for item in Gender"></select>

                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">Country:</label>
                    <div class="col-sm-10">
                        <select  name="Country"ng-model="employee.Country" class="form-control"
                            ng-options="item for item in Country"></select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2">State:</label>
                    <div class="col-sm-10">
                        <select name="State" ng-model="employee.State" class="form-control"
                            ng-options="item for item in State"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">MailId:</label>
                    <div class="col-sm-10">
                        <input type="email" name="MailId" class="form-control" ng-model="employee.MailId" required> 
                           
                        <span ng-show="RegisterForm.MailId.$invalid">The name is required.</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">Pincode:</label>
                    <div class="col-sm-10">
                        <input type="number" name="Pincode" class="form-control" ng-model="employee.Pincode" required>
                        <span ng-show="RegisterForm.Pincode.$invalid">The name is required.</span>

                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">employee code:</label>
                    <div class="col-sm-10">
                        <input type="number" name="employeecode" class="form-control" ng-model="employee.employeecode"
                            required>
                        <span ng-show="RegisterForm.employeecode.$invalid">The name is required.</span>

                    </div>
                </div>
                <div class="col-sm-12">
                    <input type="submit" class="btn btn-success" ng-disabled="RegisterForm.employee.$dirty && RegisterForm.employee.$invalid ||
                    RegisterForm.$dirty && RegisterForm.$invalid" ng-click="submitform(employee.data)">
                    <button type="reset" class="btn btn-danger"> reset</button <input type="button" value="cancel"
                        ng-click="cancelUpdate()" class="btn btn-danger btn-sm" ng-show="cancel" />
                </div>
            </form>
            <div class="table-responsive col-sm-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>FirstName</th>
                            <th>LastName</th>
                            <th>Dateofbirth</th>
                            <th>Address</th>
                            <th>PhoneNumber</th>
                            <th>Gender</th>
                            <th>Country</th>
                            <th>State</th>
                            <th>MailId</th>
                            <th>Pincode</th>
                            <th>employeecode</th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="item in content">
                        <tr>
                            <td>{{$index+1}}</td>
                            <td>{{item.FirstName}}</td>
                            <td>{{item.LastName}}</td>
                            <td>{{item.Dateofbirth}}</td>
                            <td>{{item.Address}}</td>
                            <td>{{item.phonenumber}}</td>
                            <td>{{item.Gender}}</td>
                            <td>{{item.Country}}</td>
                            <td>{{item.State}}</td>
                            <td>{{item.MailId}}</td>
                            <td>{{item.Pincode}}</td>
                            <td>{{item.employeecode}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</body>

</html>